<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="assets/img/dashboard/sidebar/hulk.png" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Hulk-Store</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="./dashboard/dashboard1">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Modulos</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Productos
    </div>

    <!-- Nav Item - Productos -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductos"
            aria-expanded="true" aria-controls="collapseProductos">
            <i class="fas fa-fw fa-cog"></i>
            <span>Gestion Productos</span>
        </a>
        <div id="collapseProductos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones:</h6>
                <a [routerLink]="['/', 'dashboard', 'productos', 'lista' ]" class="collapse-item"
                    routerLinkActive="selected">Listar</a>
                <a [routerLink]="['/', 'dashboard', 'productos', 'agregar' ]" class="collapse-item"
                    routerLinkActive="selected">Agregar</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Movimientos
    </div>

    <!-- Nav Item - Categorias -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategorias"
            aria-expanded="true" aria-controls="collapseCategorias">
            <i class="fas fa-fw fa-cog"></i>
            <span>Movimientos Productos</span>
        </a>
        <div id="collapseCategorias" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones:</h6>
                <a [routerLink]="['/', 'dashboard', 'movimientos', 'entrada' ]" class="collapse-item"
                    routerLinkActive="selected">Entradas</a>
                <a [routerLink]="['/', 'dashboard', 'movimientos', 'salida' ]" class="collapse-item"
                    routerLinkActive="selected">Salidas</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Especies -->
    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEspecies"
            aria-expanded="true" aria-controls="collapseEspecies">
            <i class="fas fa-fw fa-cog"></i>
            <span>Gestion Especies</span>
        </a>
        <div id="collapseEspecies" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones:</h6>
                <a class="collapse-item" href="buttons.html">Listar</a>
                <a class="collapse-item" href="cards.html">Agregar</a>
            </div>
        </div>
    </li>
    -->


    <!-- Nav Item - Razas -->
    <!--    
    <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRazas"
                aria-expanded="true" aria-controls="collapseRazas">
                <i class="fas fa-fw fa-cog"></i>
                <span>Gestion Razas</span>
            </a>
            <div id="collapseRazas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Opciones:</h6>
                    <a class="collapse-item" href="buttons.html">Listar</a>
                    <a class="collapse-item" href="cards.html">Agregar</a>
                </div>
            </div>
        </li>
    -->




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->